@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --colorHue: 150deg;
    --mainColor: hsla(var(--colorHue), 42%, 62%, 1);
    --taskbarIconSize: 22px;
    --windowToolbarRed: #ef476f;
    --windowToolbarYellow: #ffd166;
    --windowToolbarGreen: #06d6a0;
}

* {
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.noselect, .desktop-window-header, button, svg, input, .widgets {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#mainScreen, #loadingScreen, #lockScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loadingScreen {
    z-index: 1000001;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

#lockScreen {
    top: 0;
    transition: 1s ease;
    box-shadow: 0 0 500px rgba(0,0,0,1);
}

#lockScreenInput {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: default;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    background: rgba(0, 0, 0, .2);
    letter-spacing: 5px;
    font-family: monospace;
    color: rgba(255, 255, 255, .7);
    transition: .2s;
}

#lockScreenInput:focus {
    border: 1px solid rgba(255, 255, 255, .7);
}

#lockScreenInputInfo {
    opacity: 0;
    position: absolute;
    top: calc(50% + 48px);
    color: rgba(255, 255, 255, .5);
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    transition: opacity .2s;
}

.widgets-lockScreen {
    transition: .2s;
}

.loader {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border-top: 0;
    border-left: 0;
    border-bottom: 3px solid transparent;
    border-right: 3px solid white;
    animation: infinite rotate 1s linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

#lockScreen {
    z-index: 1000000;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.6)), url("../assets/lockscreen.jpg");
    background-size: cover;
    backdrop-filter: brightness(.5);
}

.lockBlackOut {
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1)), url("../assets/lockscreen.jpg") !important;
}

#taskbarStart > svg {
    transition: .2s;
}

#taskbarStart:hover > svg {
    fill: var(--mainColor);
}

.wallpaper {
    position: absolute;
    top: -5%;
    left: -5%;
    width: 110%;
    height: 110%;
    padding: 0;
    margin: 0;
    background: url("../assets/wallpaper.jpg") center center;
    background-size: cover;
    overflow: hidden;
    transition: filter 1s;
}


.p1 {
    background: url("../assets/pano1.png") center center;
    filter: hue-rotate(var(--colorHue));
}
.p2 {
    background: url("../assets/pano2.png") center center;
    filter: hue-rotate(var(--colorHue));
}
.p3 {
    background: url("../assets/pano3.png") center center;
    filter: hue-rotate(var(--colorHue));
}
.p4 {
    background: url("../assets/pano4.png") center center;
    filter: hue-rotate(var(--colorHue));
}

.desktop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 46;
    width: 100%;
    height: calc(100% - 46px);
}

.desktop-window {
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .75);
    color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    transition: border-radius .2s, transform .2s ease;
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    will-change: transform;
}

.desktop-window-header {
    font-size: 16px;
    padding: 6px 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop-window-header:after {
    position: absolute;
    content: '';
    height: 1px;
    top: 36px;
    background: rgba(255, 255, 255, .1);
    width: calc(100% - 24px);
}

.desktop-window-header-title {
    width: 100%;
    color: rgba(255, 255, 255, .5);
    font-weight: 600;
    text-overflow: ellipsis;
    cursor: move;
    display: flex;

}

.desktop-window-header-title-icon {
    display: block;
    margin-right: 8px;
    will-change: width;
}

.desktop-window-header-title-icon > * {
    fill: rgba(255, 255, 255, .5);
    height: 14px;
    width: auto;
    position: relative;
    top: 1px;
}

.desktop-window-header-tools {
    gap: 8px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
}

.desktop-window-header-tools > * {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    transition: .2s;
}

.desktop-window-header-tools > *:hover {
    opacity: .8;
}

.desktop-window-header-tools-min {background: var(--windowToolbarGreen);}
.desktop-window-header-tools-max {background: var(--windowToolbarYellow);}
.desktop-window-header-tools-off {background: var(--windowToolbarRed);}

.desktop-window-content {
    min-width: 320px;
    min-height: 140px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.resizable {
    resize: both;
}

.desktop-window-content > p {
    margin: 0;
    margin-bottom: 20px;
}

.desktop-window-content > div {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-direction: row-reverse;
}

button {
    background: rgba(255, 255, 255, .3);
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    color: rgba(0, 0, 0, .75);
    cursor: pointer;
    transition: .2s;
}

button:hover {
    background: transparent;
    color: rgba(255, 255, 255, .3);
    border: 1px solid rgba(255, 255, 255, .3);
}

button:active {
    filter: blur(1px);
}

.taskbar {
    z-index: 999999;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.taskbar > div {
    display: flex;
    align-items: center;
}

.taskbar-icon {
    width: 48px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
    overflow: hidden;
    transition: .2s;
}

.taskbar-icon > * {
    pointer-events: none;
}

.taskbar-widget {
    height: 46px;
    width: 64px;
    display: flex;
    font-size: 12px;
    padding: 0 14px;
    text-align: center;
    justify-content: center;
    align-items: center;
    fill: white;
    transition: .2s;
    color: white;
}

.taskbar-icon:hover, .taskbar-widget:hover {
    background: rgba(0, 0, 0, .2);
    width: calc(var(--taskbarIconSize) + 60px);
}

.taskbar-icon > *, .taskbar-icon-init {
    width: var(--taskbarIconSize);
    height: var(--taskbarIconSize);
}

.taskbar-search {
    width: 140px;
    background: rgba(0, 0, 0, 0);
    box-shadow: inset 70px 0 70px -70px rgba(0, 0, 0, .4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.taskbar-search:focus-within {
    background: rgba(0, 0, 0, .4);
    width: 264px;
}

.taskbar-search > svg {
    margin: 12px;
    fill: rgba(255, 255, 255, .5);
}

.taskbar-search > input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    transition: .2s;
}

.taskbar-icon-active {
    box-shadow: inset 0 -2px var(--mainColor);
}

.taskbar-icon-focus, .taskbar-icon:active {
    background: rgba(0, 0, 0, .3);
}

.taskbar-center {
    width: 100%;
}

.widgets {
    top: 0;
    left: 0;
    position: absolute;
    z-index: 40;
    width: 100%;
    height: 100%;
}

.widgets-clock {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    font-size: 128px;
    text-shadow: 0 0 90px rgba(0, 0, 0, .4);
}

.widgets-background {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--mainColor);
    opacity: .6;
    left: 50%;
    top: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.widgets-background > svg {
    width: 40%;
}

.widgets-lockScreen-text {
    position: absolute;
    top: 260px;
    left: 50%;
    opacity: .3;
    transform: translateX(-50%);
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

.widgets-lock {
    position: absolute;
    bottom: 180px;
    height: 24px;
    left: 50%;
    opacity: .3;
    transform: translateX(-50%);
    fill: white;
}

.keyboard-key {
    border: 1px solid rgba(255, 255, 255, .5);
    display: flex;
    font-size: 12px;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.scaleIn {
    transform: scale(0) !important;
}

.widthIn {
    width: 0;
}